div.page-header.text-center
  a(ng-href="{{bookingCtrl.prevDateUrl}}" role="button").btn.btn-default.marg-button-lr.
    Previous day

  span.
    Bookables for {{bookingCtrl.facilityName}} for {{ bookingCtrl.date.format("dddd, MMMM Do YYYY") }}

  a(ng-href="{{bookingCtrl.nextDateUrl}}" role="button").btn.btn-default.marg-button-lr.
    Next day
div.text-center.
  Click on time slots to select them for booking. Red time slots have already been booked

div.text-center
  form(ng-submit="bookingCtrl.submit()").centred-form
    div.form-group
    button(type="submit").btn.btn-default.submit-button.
      Create booking!

div.bookable-container
  div(ng-repeat="bookable in bookingCtrl.bookables").bookable.text-center
    {{bookable.name}}
    div(
    ng-repeat=("timeSlotWithBooked in bookable.timeSlotsWithBooked"),
    ng-click="bookingCtrl.toggleSelected(timeSlotWithBooked)",
    ng-class="{'selected-time-slot': bookingCtrl.booking.timeSlots.indexOf(timeSlotWithBooked.timeSlot) >= 0, 'booked-time-slot': timeSlotWithBooked.booked}").time-slot
      {{bookingCtrl.date.hour(timeSlotWithBooked.timeSlot.hourOfDay).startOf("hour").format("h:mm a")}}

div
  {{bookingCtrl.notice}}
