div.page-header.text-center
  h3 Facilities

div(ng-repeat="bookableType in bookableTypeCtrl.bookableTypes").text-center
  a(ng-href="{{'/facilities/' + bookableType.name}}" role="button").btn.btn-default.marg-button-lr.
    {{bookableType.name}}
