div.page-header.text-center
  h3 Editing User {{userCtrl.originalUser.username}}
  p.flat-para Update your user information below, fields left blank will not be changed

div.text-center
  form(ng-submit="userCtrl.submit()").centred-form
    div.form-group
      input(type="text" placeholder="{{userCtrl.originalUser.username}}" ng-model="userCtrl.updatedUser.username" maxlength="30").form-control
    div.form-group
      input(type="text" placeholder="{{userCtrl.originalUser.firstname}}" ng-model="userCtrl.updatedUser.firstname" maxlength="30").form-control
    div.form-group
      input(type="text" placeholder="{{userCtrl.originalUser.lastname}}" ng-model="userCtrl.updatedUser.lastname" maxlength="30").form-control
    div.form-group
      input(type="email" placeholder="{{userCtrl.originalUser.email}}" ng-model="userCtrl.updatedUser.email" maxlength="30").form-control
      div.page-header.text-center
      h4 Change Password
      p.flat-para Fields must match for a new password to be created
      div.form-group
        input#pass1(type="password" name="pass1" placeholder="Enter your new password" ng-model="userCtrl.updatedUser.newpass" maxlength="30").form-control
      div.form-group
        input#pass2(type="password" name="pass2" onkeyup='checkPass(); return false;' placeholder="Confirm your new password" ng-model="userCtrl.updatedUser.confpass" maxlength="30").form-control
        span#confirmMessage.confirmMessage
    button(type="submit").btn.btn-default.submit-button.
      Submit

  div(ng-model="userCtrl.success")
    {{userCtrl.success}}
