body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.centred-form {
  margin: 0 auto 0 auto;
  max-width: 500px;
}

.submit-button {
  margin-top: 10px;
}

.form-input{
  margin: 10px 0px 10px 0px;
}

.main-logo {
  width: 20%;
}

.form-control.badbgcolor {
  background-color: #ff6666;
}

.form-control.goodbgcolor {
  background-color: #66cc66;
}

.badcolor{
  color: #ff6666;
}

.goodcolor{
  color: #66cc66;
}

.prof-table {
  margin: 10px auto;
}

.flat-para {
  display: inline;
}

.marg-button-lr {
  margin-left: 15px;
  margin-right: 15px;
}

.bookable {
  float: left;
  margin: 0 20px 0 20px;
}

.time-slot {
  background-color: gray;
  padding: 10px;
  margin: 10px 0 10px 0;
  width: 100px;
  height: 40px;
  border-radius: 4px;
}

div.selected-time-slot {
  background-color: green;
}

div.booked-time-slot {
  background-color: red;
}

.notice-text {
  color: red;
}
